{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ artist.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/artist_profile.css' %}">
</head>

<body>
    <!-- Include Navbar -->
    {% include 'navbar.html' %}
    <!-- Artist Cover -->
    <div class="artist-cover-container">
        <img class="artist-cover" src="{{ artist.cover_picture.url }}" alt="{{ artist.name }}'s Cover Picture">
        <div class="artist-profile-picture-container">
            <img class="artist-profile-picture" src="{{ artist.profile_picture.url }}"
                alt="{{ artist.name }}'s Profile Picture">
        </div>
    </div>

    <!-- Artist Name and Bio -->
    <div class="artist-info">
        <h1>{{ artist.name }}</h1>
        <p>Monthly Listeners: {{ artist_monthly_listeners }}</p>
        {% if artist.aka %}
        <p><strong>AKA:</strong> {{ artist.aka }}</p>
        {% endif %}
        <p>{{ artist.bio }}</p>

        <!-- Social Media Links -->
        <div class="social-media-links">
            {% if artist.twitter %}
            <a href="{{ artist.twitter }}" class="social-link twitter" target="_blank">Twitter</a>
            {% endif %}
            {% if artist.instagram %}
            <a href="{{ artist.instagram }}" class="social-link instagram" target="_blank">Instagram</a>
            {% endif %}
            {% if artist.soundcloud %}
            <a href="{{ artist.soundcloud }}" class="social-link soundcloud" target="_blank">SoundCloud</a>
            {% endif %}
            {% if artist.spotify %}
            <a href="{{ artist.spotify }}" class="social-link spotify" target="_blank">Spotify</a>
            {% endif %}
            {% if artist.youtube %}
            <a href="{{ artist.youtube }}" class="social-link youtube" target="_blank">YouTube</a>
            {% endif %}
            {% if artist.telegram %}
            <a href="{{ artist.telegram }}" class="social-link telegram" target="_blank">Telegram</a>
            {% endif %}
        </div>
    </div>

    <div class="song-list">
        <h2>Top Songs</h2>
        <ul class="song-container">
            {% for song in songs %}
            <li class="song-box">
                <img src="{{ song.album.cover_photo.url }}" alt="{{ song.title }} Cover" class="song-cover">
                <div class="song-details">
                    <p><strong>{{ song.title }}</strong></p>
                    <p>Artist: {{ song.artist.name }}</p>
                    <p>Views: {{ song.views }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Albums Section -->
    <div class="albums-section">
        <h2>Albums</h2>
        {% if albums %}
        <div class="album-slider">
            {% for album in albums %}
            <div class="album-box">
                <a href="{% url 'album_details' album.id %}">
                    <div class="album-cover">
                        <img src="{{ album.cover_photo.url }}" alt="{{ album.title }} Cover">
                    </div>
                    <h3>{{ album.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No albums available</p>
        {% endif %}
    </div>

    <!-- Video Section -->
    <div class="video-section">
        <h2>Videos</h2>
        {% if videos %}
        <div class="video-container">
            {% for video in videos %}
            <div class="video-item">
                {% if video.embed_code %}
                <div class="video-embed">
                    {{ video.embed_code|safe }}
                </div>
                {% else %}
                <p>Embed code not available.</p>
                {% endif %}
                <h3 class="video-title">{{ video.title }}</h3>
                <p class="video-description">{{ video.description }}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No videos available.</p>
        {% endif %}
    </div>

</body>

</html>