<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ artist.name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/artist_profile.css' %}">
</head>

<body>
    <!-- Artist Cover -->
    <div class="artist-cover-container">
        <img class="artist-cover" src="{{ artist.cover_picture.url }}" alt="{{ artist.name }}'s Cover Picture">
        <div class="artist-profile-picture-container">
            <img class="artist-profile-picture" src="{{ artist.profile_picture.url }}"
                alt="{{ artist.name }}'s Profile Picture">
        </div>
    </div>

    <!-- Artist Name and Bio -->
    <div class="artist-info">
        <h1>{{ artist.name }}</h1>
        {% if artist.aka %}
        <p><strong>AKA:</strong> {{ artist.aka }}</p>
        {% endif %}
        <p>{{ artist.bio }}</p>
    </div>


    <!-- Songs -->
    <h2>Songs:</h2>

    <div class="song-list">
        <h2>Top Songs</h2>
        <div class="song-container">
            {% for song in songs %}
            <div class="song-box">
                <img src="{{ song.album.cover_photo.url }}" alt="{{ song.title }} Cover" class="song-cover">
                <p><strong>{{ song.title }}</strong></p>
                <p>{{ song.artist.name }}</p>
                <form method="POST" action="{% url 'artist_profile' artist.id %}">
                    {% csrf_token %}
                    <button type="submit" name="song_id" value="{{ song.id }}">Play</button>
                </form>
                <p>Views: {{ song.views }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Albums -->
    <h2>Albums:</h2>
    {% if albums %}
    <div class="album-card">
        <a href="{% url 'album_details' albums.last.id %}">
            <div class="album-cover">
                <img src="{{ albums.last.profile_photo.url }}" alt="{{ albums.last.title }} Cover">
            </div>
            <h3>{{ albums.last.title }}</h3>
        </a>
    </div>
    {% else %}
    <p>No albums available</p>
    {% endif %}
</body>

</html>