<!-- artist_profile.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/artist_profile.css' %}">

<!-- artist_profile.html -->
<h1>{{ artist.name }}</h1>
<p>{{ artist.bio }}</p>

<!-- Container for profile picture and cover image -->
<div class="artist-container">
    <div class="artist-cover"></div> <!-- Cover image -->
    <div class="artist-profile-picture">
        <img src="{{ artist.profile_picture.url }}" alt="{{ artist.name }}'s Profile Picture">
    </div>
</div>

<h2>Albums:</h2>
<ul>
    {% for album in albums %}
    <li><a href="{% url 'album_details' album.id %}">{{ album.title }}</a></li>
    {% endfor %}
</ul>

<h2>Songs:</h2>
<ul>
    {% for song in songs %}
    <li><a href="{% url 'song_details' song.id %}">{{ song.title }}</a></li>
    {% endfor %}
</ul>