{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search & Charts</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/chart.js' %}" defer></script>
</head>

<body>
    <!-- Include Navbar -->
    {% include 'navbar.html' %}

    <!-- News Section -->
    <div id="news_section">
        {% include 'news_section.html' %}
    </div>

    <!-- Chart Filters -->
    <div id="chart-section">
        <h1 class="chart-title">CHARTS</h1>
        <div id="filter-button" class="filter-button">
            SONGS / ALL GENRES / TODAY
        </div>
        <div id="filter-dropdown" class="filter-dropdown hidden">
            <div class="filter-column">
                <h4>Type</h4>
                <ul>
                    <li data-type="song">Song</li>
                    <li data-type="album">Album</li>
                    <li data-type="artist">Artist</li>
                    <li data-type="lyric">Lyric</li>
                </ul>
            </div>
            <div class="filter-column">
                <h4>Genres</h4>
                <ul>
                    <li data-genre="all">All</li>
                    <li data-genre="rap">Rap</li>
                    <li data-genre="pop">Pop</li>
                    <li data-genre="rnb">R&B</li>
                    <li data-genre="country">Country</li>
                    <li data-genre="rock">Rock</li>
                </ul>
            </div>
            <div class="filter-column">
                <h4>Time</h4>
                <ul>
                    <li data-time="all">All Time</li>
                    <li data-time="day">Today</li>
                    <li data-time="week">This Week</li>
                    <li data-time="month">This Month</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="chart-results" class="chart-container"></div>


    <div class="homepage-videos">
        <h2>VIDEOS</h2>
        <div class="video-preview-container">
            {% for video in videos|slice:":3" %} <!-- Display only the first 3 videos -->
            <div class="video-item">
                {% if video.embed_code %}
                {{ video.embed_code|safe }}
                {% else %}
                <p>Embed code not available.</p>
                {% endif %}
                <h3 class="video-title">{{ video.title }}</h3>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'video_section' %}" class="explore-videos-link">Explore More Videos</a>
    </div>
</body>

</html>