{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>News Section</title>
    <link rel="stylesheet" href="{% static 'css/news_section.css' %}">
</head>

<body>
    <section class="news-container">
        <h1>NEWS</h1>

        <div class="top-news">
            {% for news in top_news %}
            <div class="news-item featured">
                <div class="image-container">
                    {% if news.cover_image %}
                    <img src="{{ news.cover_image.url }}" alt="Top News Cover">
                    {% endif %}
                </div>
                <h2>{{ news.title }}</h2>
                <p>{{ news.content|truncatewords:20 }}</p>
                <a href="{% url 'news_detail' news.id %}">Read More</a>
            </div>
            {% endfor %}
        </div>

        <!-- Latest News -->
        <div class="latest-news">
            {% for news in latest_news %}
            <div class="news-item">
                {% if news.cover_image %}
                <img src="{{ news.cover_image.url }}" alt="News Cover">
                {% endif %}
                <h3>{{ news.title }}</h3>
                <p>{{ news.content|truncatewords:15 }}</p>
                <a href="{% url 'news_detail' news.id%}">Read More</a>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>