{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ song.title }} - {{ song.artist.name }}</title>
    <link rel="stylesheet" href="{% static 'css/song_details.css' %}">
</head>

<body>
    <!-- Include Navbar -->
    {% include 'navbar.html' %}
    <!-- Gradient Background Section -->
    <div class="background"
        style="background: linear-gradient(to bottom, {{ dominant_color }} 0%, rgba(0, 0, 0, 0.7) 100%);">
    </div>

    <!-- Main content container -->
    <div class="song-details">
        <!-- Song Description Section (on the left) -->
        <div class="song-description-container">
            <h1 class="song-title">{{ song.title }}</h1>
            <p class="song-artist">By <a href="/artist/{{ song.artist.id }}/">{{ song.artist.name }}</a></p>
            <p class="song-description">{{ song.description }}</p>
        </div>

        <!-- Song Cover Section (on the right) -->
        <div class="song-cover-container">
            <img class="song-cover" src="{{ song.song_cover.url }}" alt="Song Cover">
        </div>
    </div>

    <!-- Lyrics Section -->
    <div class="song-lyrics-section">
        <div class="lyrics-container">
            <h2>Lyrics</h2>
            <div class="lyrics">
                <p>{% for line in song.lyrics.splitlines %}
                    {{ line }}<br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</body>

</html>