{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ song.title }} - Details</title>
    <link rel="stylesheet" href="{% static 'css/song_details.css' %}">
    <script src="{% static 'js/lyric_interactions.js' %}" defer></script>
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <div class="song-details-container">
        <div class="song-info">
            <img src="{{ song.song_cover.url }}" alt="{{ song.title }} Cover" class="song-cover">
            <h1>{{ song.title }}</h1>
            <h2>By {{ song.artist.name }}</h2>
            <p>Duration: {{ song.duration }}</p>
            <p>Release Date: {{ song.release_date }}</p>
            <p>Views: {{ song.views }}</p>
        </div>

        <!-- Lyrics Section -->
        <div class="lyrics-meaning-container">
            <div class="lyrics-section">
                <h2>Lyrics</h2>
                <div class="lyrics-container">
                    {% for line in song.lyric_lines.all %}
                    <p class="lyric-line {% if line.is_highlighted %}highlight{% endif %}"
                        data-meaning="{{ line.meanings.first.meaning_text }}">
                        {{ line.line_text|linebreaksbr }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            <div class="lyric-meaning-display hidden" id="lyric-meaning-display">
                <h3>Meaning</h3>
                <p id="lyric-meaning-text"></p>
            </div>
        </div>
    </div>
</body>

</html>