/* Artist Cover Styling */
.artist-cover-container {
    position: relative;
    width: 100vw;
    max-height: 100%;
    overflow: visible;
    margin: 0 auto;
}

.artist-cover {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    display: block;
    max-height: 430px;
}

/* Profile Picture Styling */
.artist-profile-picture-container {
    position: absolute;
    bottom: -50px;
    left: 70%;
    transform: translateX(-50%);
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 5px solid white;
    z-index: 1;
    overflow: hidden;
}

.artist-profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Artist Info Section */
.artist-info {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    position: relative;
    left: 70%;
    transform: translateX(-50%);
}





.song-list {
    width: 100%;
    padding: 20px;
}

.song-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columns */
    gap: 20px;
}

.song-box {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.song-cover {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Last Album Section */
.album-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px auto;
}

.album-card a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.album-cover {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    overflow: hidden;
}

.album-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.album-card h3 {
    font-size: 18px;
    font-weight: bold;
}

/* Artist Info Section */
.artist-info {
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    word-break: break-word;
}