/* Artist Cover Styling */
.artist-cover-container {
    position: relative;
    width: 100vw;
    max-height: 100%;
    overflow: visible;
    margin: 0 auto;
}

.artist-cover {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    display: block;
    max-height: 430px;
}

/* Profile Picture Styling */
.artist-profile-picture-container {
    position: absolute;
    bottom: -50px;
    left: 70%;
    transform: translateX(-50%);
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 5px solid white;
    z-index: 1;
    overflow: hidden;
}

.artist-profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Artist Info Section */
.artist-info {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    position: relative;
    left: 70%;
    transform: translateX(-50%);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    word-break: break-word;
}