body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.news-detail-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.news-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

.news-cover {
    margin: 20px 0;
}

.news-cover img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.news-description {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: left;
}


.back-link {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}