body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.video-section-title {
    font-size: 2rem;
    margin: 0;
}

.back-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    display: inline-block;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.video-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.video-title {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.video-description {
    font-size: 0.9rem;
    color: #666;
}

.video-item iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}

.back-to-home {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 16px;
}

.back-to-home:hover {
    color: gray;
}