/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 50vh;
    z-index: -1;
    position: absolute;
    top: 0;
}

.song-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    right: -35%;
}

.song-description-container {
    flex-grow: 1;
    margin-right: 30px;
    position: relative;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 90px;
    max-width: 300px;
    flex-shrink: 0;
}

.song-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
    line-height: 1.4;
}

.song-artist {
    font-size: 1.2em;
}

.song-description {
    font-size: 1em;
    line-height: 1.6;
}

.song-cover-container {
    width: 300px;
    height: 300px;
    position: relative;
    top: 40px;
    flex-shrink: 0;
}

.song-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.song-lyrics-section {
    margin: 20px;
}

.lyrics-container {
    padding: 20px;
}

.lyrics {
    font-size: 1.1em;
    text-align: right;
    direction: rtl;
    /* For Persian text */
    line-height: 1.6;
}